*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; // 1rem = 10px
}

body {
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
    font-size: 2rem;
    background-color: #e6e6e675;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
}