.btn {
    padding: 1rem 3rem;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        transform: translateY(-0.2rem);
        box-shadow: 0 0.5rem 0.5rem rgba($color-tertiary, $alpha: 0.4);
    }
}

.btn-red {
    // background-image: linear-gradient(to right bottom, $color-secondary-light, $color-tertiary-light);
    background-color: $color-tertiary;

    &:hover {
        // background-image: linear-gradient(to right bottom, $color-secondary, $color-tertiary);
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-tertiary-light);
        // background-color: $color-tertiary-dark;
    }
}

.btn-cafe {
    background-color: $color-cafe;
}

.btn-grocery {
    background-color: $color-grocery;
}

.btn-transport {
    background-color: $color-transport;
}