.btn-ion {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    font-size: 2rem;

    &--round {
        border-radius: 50px;
    }

    &--basic {
        border-radius: 10px;
    }
}

.category-ion {
    font-size: 3rem;
    padding: 0.5rem;
    border-radius: 50px;

    &--cafe {
        background-color: $color-cafe;
    }

    &--transport {
        background-color: $color-transport;
    }

    &--grocery {
        background-color: $color-grocery;
    }
}