.heading-1 {
    text-align: center;
    text-transform: uppercase;

    padding: 1rem;
}

.heading-2 {
    text-align: center;
    padding: 1rem;
}

.heading-3 {
    text-align: center;
}

.heading-4 {
    text-align: center;
}