$color-primary: #3a86ff;
$color-primary-dark: #2a66c7;
$color-primary-light: #5596ff;

$color-secondary-light: #9c57fe;
$color-secondary: #8338ec;
$color-secondary-dark: #682abf;

$color-tertiary-light: #fe2985;
$color-tertiary: #ff006e;
$color-tertiary-dark: #da1c6f;

$color-transport: #48bfe3ad;
$color-cafe: #5e60cea9;
$color-grocery: #72efdca2;

$color-silver: #C0C0C0;
$color-silver-light: #dcdcdc;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
$bp-smallest: 31.25em; // 500px;