.sidebar {
    background-image: linear-gradient(to bottom, $color-primary, $color-secondary );
    max-width: 30rem;
    min-width: 30rem;
    height: 100%;

    display: flex;
    flex-direction: column;

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    &__list-item {
        padding: 1.3rem 3rem;
        list-style: none;
        transition: all 0.1s;

        &:hover {
        background-color: $color-tertiary;
        box-shadow: 0 0.1rem 0rem;
        transform: translateY(-0.2rem);
        }
    }

    &__list-link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        color: black;

        &:link, :visited, &:active {
            text-decoration: none;
        }
    }
}