.sidebar {
    background-image: linear-gradient(to bottom, $color-primary, $color-secondary );
    max-width: 30rem;
    min-width: 30rem;
    min-height: 100vh;

    @media only screen and (max-width: $bp-medium) {
       height: 150vh;
    }

    @media only screen and (max-width: $bp-smallest) {
        max-width: 10rem;
        min-width: 10rem;

        h1 {
            font-size: 2rem;
        }

        span {
            font-size: 1.5rem;
        }
    }

    display: flex;
    flex-direction: column;

    &__list-item {
        display: flex;
        align-items: center;
        gap: 2rem;

        padding: 1.3rem 3rem;
        list-style: none;

        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        color: black;

        ion-icon {
            font-size: 2.5rem;
        }
    }

    &__list-item:not(:first-child) {
        transition: all 0.2s;

        &:hover {
            background-color: $color-tertiary;
            box-shadow: 0 0.1rem 0rem;
            transform: translateY(-0.2rem);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        @media only screen and (max-width: $bp-medium) {
            justify-content: start;
        }

        @media only screen and (max-width: $bp-smallest) {
            align-items: center;
            
            div {
                display: none;
            }
        }
    }

    &__list-item {
    }

    &__list-link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        color: black;

        &:link, :visited, &:active {
            text-decoration: none;
        }
    }
}