{% extends 'base.html' %}

{% block title %} Count on me {% endblock %}

{% block content %}
<h3>I am the cards page</h3>
<hr>
<h4>Create card</h4>
<form method="post">
    <div class="field">
        <input type="text" name="card_name" placeholder="Card name">
        <input type="text" name="card_type" placeholder="Card type">
        <button type="submit" name="card_create">Create</button>
    </div>
</form>
<h4>Delete card</h4>
<form method="post">
    <div class="field">
        <input type="number" name="card_id" placeholder="Card id">
        <button type="submit" name="card_delete">Delete</button>
    </div>
</form>
<h4>Deposit/Withdraw</h4>
<form method="post">
    <div class="field">
        <input type="number" name="amount" placeholder="amount">
        <select name="card_id">
            {% for card in cards %}
                <option value="{{ card['card_id'] }}">{{ card['card_name'] }}</option>
            {% endfor %}
        </select>
        <button type="submit" name="card_deposit">Deposit</button>
        <button type="submit" name="card_withdraw">Withdraw</button>
    </div>
</form>
<h4>Transfer</h4>
<form method="post">
    <div class="field">
        <input type="number" name="amount" placeholder="amount">
        <select name="card_id_from">
            {% for card in cards %}
            <option value="{{ card['card_id'] }}">{{ card['card_name'] }}</option>
            {% endfor %}
        </select>
        <select name="card_id_to">
            {% for card in cards %}
            <option value="{{ card['card_id'] }}">{{ card['card_name'] }}</option>
            {% endfor %}
        </select>
        <button type="submit" name="card_transfer">Transfer</button>
    </div>
</form>
<h4>Create shortcut</h4>
<form method="post">
    <input type="number" name="price" placeholder="Enter price">
    <input type="text" name="name" placeholder="Enter name">
    <select name="category">
        <option disabled selected> Choose category </option>
        {% for category in categories %}
        <option value="{{ category }}"> {{ category }} </option>
        {% endfor %}
    </select>
    <button type="submit" name="card_shortcut">Create shortcut</button>
</form>
{% endblock %}