{% extends 'base.html' %}

{% block title %} Count on me {% endblock %}

{% block content %}
<h3>I am the main page</h3>
<hr>
<h4>Add purchase</h4>
<form method="post">
    <input type="number" name="price" placeholder="price">
    <select name="category" id="">
        <option disabled selected>Choose category</option>
        {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
    </select>
    <select name="card_id" id="">
        {% for card in cards %}
            <option value="{{ card['card_id'] }}">{{ card["card_name"] }}</option>
        {% endfor %}
    </select>
    <button type="submit" name="add_purchase">Add purchase</button>
</form>
<h4>Shortcuts</h4>
{% if shortcuts == 0 %}
    <p>You don't have any shortcut yet. Shortcut can be created at "Cards" page</p>
{% else %}
{% for shortcut in shortcuts %}
<form method="post">
    <div>
        {{ shortcut["name"] }}
        <select selected name="category">
            <option value="{{ shortcut['category'] }}">{{ shortcut["category"] }}</option>
        </select>
        <select selected name="price">
            <option value="{{ shortcut['price'] }}">{{ shortcut["price"] }}</option>
        </select> 
        <select selected name="card_id">
            <option value="1">1</option>
        </select>
        <button type="submit" name="use_shortcut">Submit</button>
    </div>
</form>
{% endfor %}
{% endif %}
<h4>Recent activity</h4>
{% for purchase in history %}
    <p>Category: {{ purchase["category"] }}, Price: {{ purchase["price"] }}</p>
    <form method="post">
        <select hidden name="purchase_id">
            <option selected hidden value="{{ purchase['purchase_id'] }}">{{ purchase["purchase_id"] }}</option>
        </select>
        <button type="submit" name="delete_purchase">Delete purchase</button>
    </form>
{% endfor %}
{% endblock %}