.main-section {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    
    padding: 2rem;

    @media only screen and (max-width: $bp-medium) {
       flex-direction: column;
    }
}

.additional {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column-reverse;
    }
}

.recent {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 10px;

    &__item {
        display: flex;
        align-items: center;
        width: 30rem;
        padding-bottom: 1rem;

        @media only screen and (max-width: $bp-medium) {
            width: 100%;
        }

        // border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    }

    &__category {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__price {
        margin-left: auto;
        padding-right: 2rem;
    }
}

.statistic {

    background-color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    
    &__content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        font-size: 2.5rem;
    }
}

.shortcuts {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 10px;

    &__empty {
        font-size: 2.5rem;
    }

    &__box {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }
}

#btn-open-purhase-form {
    position: relative;
    margin-top: auto;
    margin-left: auto;

    display: flex;
    align-items: center;
    align-self:  flex-start;
    gap: 1rem;

    border-radius: 10px;
    padding: 1rem 2rem;
    font-size: 2.5rem;

    @media only screen and (max-width: $bp-medium) {
        margin-top: 2rem;
    }


    ion-icon {
        padding: 0.5rem;
        font-size: 3rem;
        background-color: $color-primary;
    }
}

.purchase-section {
    display: none;

    background-color: rgba($color: #000000, $alpha: 0.3);
    width: calc(100% - 30rem);
    height: 100%;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;

    @media only screen and (max-width: $bp-medium) {
       height: 200vh;
    }

    @media only screen and (max-width: $bp-smallest) {
        width: calc(100% - 10rem);
    }
}

.purchase-box {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to right, $color-primary, $color-secondary);
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;

    padding: 3rem;
    border-radius: 20px;

    ion-icon {
        position: relative;
        top: -18rem;
        left: 20rem;
        cursor: pointer;

        @media only screen and (max-width: $bp-large) {
            top: -19rem;
            left: 24rem;
        }

        @media only screen and (max-width: $bp-small) {
            top: -19rem;
            left: 27rem;
        }
    }

    .purchase-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }

    input, select {
        padding: 1rem;
        outline: none;
        border-radius: 10px;
    }
}

.display-purchase-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}